<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /><title>Home Page</title></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="home.js"></script>
<body>
<h1>Welcome [[${#httpServletRequest.remoteUser}]]</h1>
<div sec:authorize="!isFullyAuthenticated()">
    <p>Click <a th:href="@{/user}">here</a> to login in.</p>
</div>
<div sec:authorize="isFullyAuthenticated()">
    <p>Click <a th:href="@{/user}">here</a> to see your posts.</p>
</div>
</body>
</html>